.main {
  max-width: 60rem;
  width: 90%;
  min-height: calc(100vh - 4rem);
  margin: 0 auto;
  padding-bottom: 4rem;
}

h2 {
  text-align: center;
  margin: 2rem 0;
}

h3 {
  margin: 0.5rem 0;
}

p {
  text-align: justify;
  margin-bottom: 2rem;
}
