.light {
  background-color: #fff;
  color: #333;
}

.dark {
  background-color: #111;
  color: #fff;
}

.dark input {
  background-color: #222;
  color: #fff;
}

.dark textarea {
  background-color: #222;
  color: #fff;
}
