h2 {
  text-align: center;
  margin: 2rem 0;
}

button {
  font-size: 1rem;
  cursor: pointer;
}

.inputFields {
  display: flex;
  gap: 1rem;
}

.inputFields div {
  width: 100%;
}

.inputFields div label {
  display: block;
  font-size: 1.2rem;
}

.inputFields div input {
  width: 100%;
  font-size: 1rem;
  padding: 0.7rem 1.2rem;
  border-radius: 4px;
  border: 1px solid #777;
  outline: none;
}

.textFields {
  border: 1px solid transparent;
}

.textFields div {
  width: 100%;
  position: relative;
  margin: 1rem 0;
}

.textFields div label {
  display: block;
  font-size: 1.2rem;
}

.textFields div textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 80px;
  max-height: 200px;
  font-size: 1rem;
  padding: 0.7rem 1.2rem;
  border-radius: 4px;
}

.textFields div button {
  position: absolute;
  right: 0;
}
